
<div class="container">
	<div class="row">
　　　　	 <div class="col-xs-9">
			 <table class="table table-hover table-inverse">
				<tbody>

					<tr>
						<%= @sub_materials.each do |material|%>
						<td><
							<% if material.image? %>
							　　<%= image_tag material.image.url %>
							<% end %></td>
						<td><%= material.title %></td>
						<td><%= material.body %></td>
						<% end %>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>