<div class="body">
  <div class="container">
    <div>
      <h2 class="sub__material__index__title">SubMaterials</h2>
    </div>
    <div class="row sampleRow">
      <% @sub_materials.each do |material|%>
      <div class="col-md-12"style="width: 310px; padding: 10px; margin: 20px;">
        <div class= "box1">
          <% if material.image? %>
			     <%= image_tag material.image.url, size: "280x280"%>
		　     <% end %>
        </div>
        <div><h4><%= material.title %></h4></div>
        <div class="sub_material__btn"><%= link_to "詳細",sub_material_path(material),class: "btn btn-success" %></div>
      </div>
    <% end %>
    </div>
    <%= paginate @sub_materials %>
  </div>
</div>