<div class="container">
  <div class='row'>
	<%= render 'users/info', user: current_user %>
  </div>
</div>
<div class= "col-xs-9">
	<%= @articles.each do |article|%>
	<table>
       <tr>
         <td class="noborder"><%= attachment_image_tag(article, :image, fallback: "5.jpg", size: "120x100") %></td>
       </tr>
       <tr>
         <td class="noborder"><%= link_to article.title, article_path(article.id) %></td>
       </tr>
	 <% end %>
	<td class="noborder">
		<div class='p-eu__paginate'>
		</div>
	</td>
    </table>
