<div class="row sampleRow">
  <div class="user__box">
   <% user.bookmark_articles.each do |article| %>
    <div class="column is-3" style="width: 250px; padding: 10px;display: inline-block;margin-right: 0px;">
      <div class="user__image">
          <%= attachment_image_tag article, :image, fallback: "icon.png",size: "200x200"%>
      </div>
      <div>
        <h4><%= article.title %></h4>
      </div>
      <div>
        <p>
          <%= link_to "この作り方を見る", article_path(article) %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
</div>