<div class='col-xs-3'>
  <h2>User info</h2>
    <table class='table'>
      <tr>
        <th><%= attachment_image_tag(@user, :profile_image, fallback: "5.jpg", size: "120x100") %></th>
      </tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>profile</th>
        <th><%= user.profile %></th>
      </tr>
      <tr>
      <tr>
        <% if user == current_user %>
        <th>
          <%= link_to '',edit_user_path(user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user" %>
        <% end %>
        </th>
      <tr>
    </table>
</div>