<div class="body">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class ="row">
      <div class="col-md-9 col-md-push-3">
        <h2 class="user__article__title">投稿一覧</h2>
        <%= render 'article',user: @user%>
      </div>

      <div class="col-xs-3 col-md-pull-9">
        <h2 class="user__show__title">User info</h2>
        <%= render 'info', user: @user,now: ''%>
      </div>

      <div class="col-md-9 col-md-push-3">
        <h2 class="user_favorite_title">お気に入り記事</h2>
        <%= render 'favorite', user: @user %>

      </div>

    </div>
  </div>
</div>