<div class="text-center" style="width:60%; margin: 0 auto; color:#694d49;">
	<h1 style="margin: 50px; color:#694d49; display: inline-block; border-bottom: 5px solid black ">About</h1>
	<h4 style="color:#694d49;margin-bottom:80px;">作るを簡単に　作るにこだわりを持って</h2>
	このサイトは洋服のディテールの作り方などを知れるサイトです。<br>
    また服の歴史や、オススメの生地屋さんなどを知れ<br>
    洋服をクオリティを上げることができます。</h4>
</div>
<div class="container" style="margin:0 auto;">
	  <div class='col-md-6'>
	  	<table class='table'>
	    <h2 style="text-align: center">学べること</h2>
	    <tr>
	    	<div style="text-align:center;">
	    		<img class="about-img"src="/assets/about1.jpg">
	    	</div>
    	  <h4 style="text-align:center;">洋服はどういった歴史や背景があるかご存知ですか？<br>
    	  意外に知っているようで知らないのではないでしょうか？<br>
    	  でも、大丈夫です。このサイトで学べます！！一緒に学んでいきましょう</h4>
      </tr>
		</table>
	  </div>
	  <div class='col-md-6'>
	    <table class='table'>
	    <h2 style="text-align: center">作り手の情報共有の場として</h2>
	    <tr>
	    	<div style="text-align:center;">
	    		<img class="about-img"src="/assets/about2.jpg">
	    	</div>
	    	<h4 style="text-align:center;">あなたのスキル、情報発信を待っている人のために<br>
	    		あなたが発信した情報は、たくさんの人の助けになります。<br>
	    		また、学べたと思う記事があれば、ぜひ積極的にいいね！をしましょう。
	    	</h4>
        </tr>
		</table>
	  </div>
</div>