<div class="body">
	<div class="text-center" style="width:60%; margin: 0 auto; ">
		<h1 style="margin: 50px; display: inline-block; border-bottom: dashed 5px #dfefff;padding-bottom: 10px;" >Updashionとは?</h1>
		<h2 style="margin-bottom:30px;">『作るを簡単に　作るにこだわりを持って』</h2>
		<h4 class="Headline">
		このサイトは洋服のディテールの作り方などを知れるサイトです。<br>
	    また服の歴史や、オススメの生地屋さんなどを知れ<br>
	    洋服をクオリティを上げることができます。</h4>
	</div>
	<div class="container" style="margin:30px auto;">
		<div class='col-md-6'>
		   <table class='table'>
		    <h2 style="text-align: center">学べること</h2>
		      <tr>
		    	<div style="text-align:center;">
		    		<%= image_tag asset_path("about1.jpg"),size:"350x350"%>
		    	</div>
	    	  <h4 class="Headline" style="text-align:center;margin-top:30px">
	    	  	洋服はどういった歴史や背景があるかご存知ですか？<br>
	    	    このサイトを通し洋服の歴史について学べます!!<br>
	    	    また、生地屋　記事の特性についても<br>
	    	    学ぶことができます！！
	    	  </h4>
	          </tr>
			</table>
		</div>
		<div class='col-md-6'>
		  <table class='table'>
		  <h2 style="text-align: center">作り手の情報共有の場として</h2>
		    <tr>
		    	<div style="text-align:center;">
		    		<%= image_tag asset_path("about2.jpg"),size:"350x350"%>
		    	</div>
		    	<h4 class="Headline" style="text-align:center;margin-top:30px">
		    		あなたが発信した情報は、<br>
		    		たくさんの人の助けになります。<br>
		    		学べたと思う記事があれば、<br>
		    		ぜひ,積極的にいいね！フォローをしましょう!!
		    	</h4>
	        </tr>
		  </table>
		</div>
	</div>
</div>
