<div class="text-center" style="width:60%; margin: 0 auto; color:#694d49;">
	<h1 style="margin: 50px; color:#694d49; display: inline-block; border-bottom: 5px solid black ">About</h1>
	<h4 style="color:#694d49;margin-bottom:80px;">aboutpage<br>
	about<br>
	aabbbbbout</h4>
</div>
<div class="container" style="margin:0 auto;">
	  <div class='col-md-4'>
	  	<table class='table'>
	    <h2 style="text-align: center" >学べる事</h2>
	    <tr>
	    	<div style="text-align:center;">
	    		<img class="about-img"src="/assets/1.jpg">
	    	</div>
    	  <h4 style="text-align:center;">aaaaaaaaaaaaa</h4>
      </tr>
		</table>
	  </div>
	  <div class='col-md-4'>
	    <table class='table'>
	    <h2 style="text-align: center">その他</h2>
	    <tr>
	    	<div style="text-align:center;">
	    		<img class="about-img"src="/assets/2.jpg">
	    	</div>
	    	<h4 style="text-align:center;">aaaaaaaaaaaaa</h4>
        </tr>
		</table>
	  </div>
	  <div class='col-md-4'>
	    <table class='table'>

	    <h2 style="text-align: center">User info</h2>
	    <tr>
	    	<div style="text-align:center;">
	    	<img class="about-img" src="/assets/2.jpg"></div>
	    </div>
 			<h4 style="text-align:center;">aaaaaaaaaaaaa</h4>
      </tr>
		</table>
	  </div>
</div>