<div class="container">
  <div class="body">
    <style>
      .swiper-container,.swiper-wrapper,.swiper-slide{
        height: 500px;
        width: 670px;
      }
      .sub-title {
        margin-top: 400px;
      }
    </style>

    <div class='col-md-9'>
      <div class="swiper-container">
        <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="assets/1.jpg"></div>
        <div class="swiper-slide"><img src="assets/2.jpg"></div>
        <div class="swiper-slide"><img src="assets/3.jpg"></div>
        <div class="swiper-slide"><img src="assets/4.jpg"></div>
      </div>
        <div class="swiper-pagination"></div>
      </div>

      <script src="dist/js/swiper.js"></script>
      <script>
        var swiper = new Swiper('.swiper-container', {
          loop: true,
          pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true,
        },
          autoplay: {
          delay: 3000,
          disableOnInteraction: true
          },
        });
      </script>
    </div>
    <div class="col-md-3" style="margin-bottom:100px">
      <div class="sub-title" style="margin:130px auto;">
        <p class="text-anime3">Updashion</p>
        <h3 class="text-anime3">『あなたの作りたい』</h3>
        <h3 style="text-align: center;">を刺激する</h3>
      </div>
      <div class="btn-stitch"><%= link_to '会員登録して始める',new_user_registration_path  %></div>
   </div>

   <div class="text-center" style="width:60%; margin: 0 auto; ">
    <h1 style="margin: 50px; display: inline-block; border-bottom: dashed 5px #dfefff;padding-bottom: 10px;">Updashionとは?</h1>
    <h2 style="margin-bottom:30px;">『作るを簡単に　作るにこだわりを持って』</h2>
    このサイトは洋服のディテールの作り方などを知れるサイトです。<br>
      また服の歴史や、オススメの生地屋さんなどを知れ<br>
      洋服をクオリティを上げることができます。</h4>
  </div>
  <div class="container" style="margin:30px auto;">
      <div class='col-md-6'>
        <table class='table'>
        <h2 style="text-align: center">学べること</h2>
        <tr>
          <div style="text-align:center;">
            <img class="about-img"src="/assets/about1.jpg">
          </div>
          <h4 style="text-align:center;margin-top:30px">
            洋服はどういった歴史や背景があるかご存知ですか？<br>
            このサイトを通し洋服の歴史について学べます!!<br>
            また、生地屋　記事の特性についても<br>
            学ぶことができます！！
        </h4>
        </tr>
      </table>
      </div>
      <div class='col-md-6'>
        <table class='table'>
        <h2 style="text-align: center">作り手の情報共有の場として</h2>
        <tr>
          <div style="text-align:center;">
            <img class="about-img"src="/assets/6.jpg">
          </div>
          <h4 style="text-align:center;margin-top:30px">
            あなたが発信した情報は、<br>
            たくさんの人の助けになります。<br>
            学べたと思う記事があれば、<br>
            ぜひ,積極的にいいね！フォローをしましょう!!
          </h4>
          </tr>
      </table>
      </div>
  </div>
 </div>
</div>

<style>
.btn-stitch {
  padding: 0.5em 1em;
  text-decoration: none;
  background: #dfefff ;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 4px #FFF;
  margin :0 auto;
  text-align: center;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
}
/*テキスト アニメーション*/
.text-anime3{
  animation: text_animation3 3s;
}

@keyframes text_animation3{
  0%{
    letter-spacing: -0.5em;
    transform: translateY(-1000px);
  }

  50%{
    letter-spacing: -0.5em;
    transform: none;
  }

  100%{
    letter-spacing: 0;
  }
}
</style>

