<div class ="container">
	<div class="row">
		<div class="page-header">
		  <h1>お問い合わせ</h1>
		</div>
		<div class="text-center" style="width:60%; margin: 0 auto;">
			<h2 style="margin: 50px;  display: inline-block; ">お問い合わせありがとうございました。</h2>
		</div>
	</div>
</div>