<div class ="container">
	<div class="row">
		<div class="page-header">
		  <h1>お問い合わせ</h1>
		</div>
		<div class="inqury__thanks text-center">
			<h2 class="inquiry__subtitle__h2">お問い合わせありがとうございました。</h2>
		</div>
	</div>
</div>