<div class ="container">
	<div class="row">
		<div class="page-header">
		  <h2 class="inquity__title">お問い合わせ</h2>
		</div>
		<div class="inqury__thanks text-center">
			<div class="inquiry__box">
				<h2 class="inquiry__subtitle__h2">お問い合わせありがとうございました。</h2>
			</div>
		</div>
	</div>
</div>