/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require swiper
 *= require_self
 *= require_homes
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

 @font-face {
  font-family: 'Bluesky';
  src: url('NotoSansJP-Light.otf') format('truetype');
}

 header{
	height: 120px;
 	background-color:#dfefff;
 	border-bottom: dashed 6px white;
		 .navbar-left{
		    span{
			font-size:20px;
			padding-top:10px;
    	}
	}
}

.body{
	margin-top:51px;
}

footer {
	background-color:#dfefff;
}



.center-block{
	width: 550px;
	margin: 0 auto;
}
.about-img{
	height: 200px;
	width: 200px;

}


header,nav,li,h1,h2,h3,h4,th,td,p,footer {
    font-family: Bluesky, 'Bluesky', Courier, "Segoe Print", sans-serif;
}
/*スライドアニメーション textile shop  sub material hisyory 画像*/
.box1{
  animation: SlideIn 1.6s;
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*article index */
.img_prev:hover {
  cursor: pointer; 
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}