// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*inquiry*/
.inquity__title{
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  width: 220px;
  margin-bottom: 30px;
}

.inquiry__subtitle__h2{
	margin: 50px;
	display: inline-block;
}