 <div class="body">
 	<div class = "container">
		<div class="col-xs-6">
		<table style="margin-bottom: 25px;">
		<td>
			<img class="about-img"src="/assets/1.jpg" style="height:100px;width: 200px;">
			</td>
			<td>
				<%= link_to textiles_path do %>
				<div class="p-gn__category__header" style="margin: 25px;">
					<h4 class="is-cover">Textiles</h4>
					<div class="p-gn__category__description u-stretch"><p>注目記事のカバーダイジェスト</p></div>
				</div>
				<% end %>
			</td>
		</table>
		<table>
		<td>
			<img class="about-img"src="/assets/1.jpg" style="height:100px;width: 200px;">
			</td>
			<td>
				<%= link_to shops_path do %>
				<div class="p-gn__category__header" style="margin: 25px;">
					<h4 class="is-cover">Shops</h4>
					<div class="p-gn__category__description u-stretch"><p>注目記事のカバーダイジェスト</p></div>
				</div>
				<% end %>
			</td>
		</table>
	</div>
		<div class="col-xs-6">
		<table style="margin-bottom: 25px;">
		<td>
			<img class="about-img"src="/assets/1.jpg" style="height:100px;width: 200px;">
			</td>
			<td>
				<%= link_to sub_materials_path do %>
				<div class="p-gn__category__header" style="margin: 25px;">
					<h4 class="is-cover">Sub materials</h4>
					<div class="p-gn__category__description u-stretch"><p>注目記事のカバーダイジェスト</p></div>
				</div>
				<% end %>
			</td>
		</table>
		<table>
		    <td>
			  <img class="about-img"src="/assets/1.jpg" style="height:100px;width: 200px;">
		    </td>
		    <td>
		      <%= link_to historys_path do %>
			  <div class="p-gn__category__header" style="margin: 25px;">
			    <h4 class="is-cover">Historys</h4>
			    <div class="p-gn__category__description u-stretch"><p>注目記事のカバーダイジェスト</p></div>
			  </div>
			  <% end %>
		    </td>
		</table>
    </div>
  </div>
</div>