<footer>
	<style>
		i{
		  text-align: center;
		  padding: 0 10px;
		  margin: 20px 0;
		}
		h4{
			margin:5px;
		}
	</style>

    <div class='body'>
	  <div class='container'>
		<nav class='nav navbar-nav navbar-right' >
			<div class="social">
			  <%=link_to inquiry_index_path do%>
			    <i class="far fa-envelope fa-2x faa-wrench animated-hover faa-vertical"></i>
			    <% end %>
			  <%=link_to root_path do%>
			  	<i class="fab fa-facebook-square fa-2x faa-wrench animated-hover"></i>
			  <% end %>
			  <%=link_to root_path do%>
			  	<i class="fab fa-twitter fa-2x faa-wrench animated-hover faa-pulse"></i>
			  <% end %>
			  <%=link_to root_path do%>
			  	<i class="fab fa-instagram fa-2x faa-wrench animated-hover faa-vertical"></i>
			  <% end %>
			</div>
		</nav>
		<nav class='nav navbar-nav navbar-left'>
			<h4>ここにロゴが入ります</h4>
		      <p>CopyRight Updashiom.inc</p>
		</nav>
      </div>
	</div>
</footer>
